@model  IEnumerable<MovieRentalApp.Models.MovieViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Movie Rental System</h2>

        @*@if (TempData["Validation"] != null) {
            <div class="alert alert-danger">
                @TempData["Validation"]
            </div>
        }*@

        @Html.ActionLink("Add a movie", "/insertmovie", null, new {@class="btn btn-primary"})

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Movie Name</th>
                </tr>
            </thead>
            <tbody>
                @{int index = 1;}
                @foreach (var item in Model)
                {
                    <tr>
                        <td scope="row">@index</td>
                        <td>@Html.DisplayFor(modelItem => item.movieName)</td>
                        <td>@Html.ActionLink("Edit", "/editmovieview", new { id = item.movieId }, new { @class = "btn btn-success" })</td>
                        <td>@Html.ActionLink("Delete", "Delete", new { id = item.movieId }, new { @class = "btn btn-danger" })</td>
                    </tr>
                    index++;
                }
            </tbody>
        </table>
    </div>
</div>